[submodule "HGCStudies"]
	path = HGCStudies
	url = git@github.com:mkilpatr/HGCStudies.git
[submodule "hexmap"]
	path = hexmap
	url = ssh://git@gitlab.cern.ch:7999/mkilpatr/hexmap.git
[submodule "FiducialsQC"]
	path = FiducialsQC
	url = git@github.com:mkilpatr/FiducialsQC.git
